name: Build Docker (Linux)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ "*docker*" ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  IMAGE: ghcr.io/jambrains/service-sdk:latest
  GM_LOG: info

jobs:
  docker:
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and load Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: ${{ env.IMAGE }}
          load: true
          cache-from: type=registry,ref=${{ env.IMAGE }}
          cache-to: type=inline
      -
        name: Test Docker image
        run: |
          docker run -v $(pwd):/app --rm ${{ env.IMAGE }} single-file services/01-hello-world.c || true
          stat 01-hello-world.jam || true
      -
        name: Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE }}
          cache-from: type=registry,ref=${{ env.IMAGE }}
          cache-to: type=inline
